<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Lista de Funcionarios</title>
<link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<hr/>
	<div>
	<div align="center">
		<div align="center">
			<a href="listafuncionarios" class="btn btn-lg btn-primary">Clique aqui para ver a lista funcionarios</a>
		</div>
	</div>
	<hr/>
	<div align="center">
		<div align="center">
			<a href="cadastro" class="btn btn-lg btn-primary">Clique aqui para cadastrar um novo funcionario</a>
		</div>
	</div>
	<hr/>
	<div align="center">
		<div align="center">
			<a href="cadastroadmin" class="btn btn-lg btn-primary">Clique aqui para cadastrar um novo usuário do sistema</a>
		</div>
	</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>