<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Sucesso!</title>
<link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<div align="center">
		<div>
			<hr/>
		<div class="form-group">
			<label>
			<h1 class="h1">Operação realizada com sucesso!</h1>
			</label>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>